.crud__new-message-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.crud__new-message-form-textarea {
  resize: none;
  flex-grow: 1;
  border: none;
}

.crud__new-message-form-textarea:focus, .crud__new-message-form-textarea:active {
  outline: none;
}